{% extends 'layout/enlinea.html.twig'%}
{% block contenido %}
<div class="page-intro" style="margin-top: 0px;">
<div class="container">
<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
<li><i class="fa fa-users pr-10"></i>Junta de condominio</li>
</ol>
</div>
</div>
</div>
</div>
<section class="main-container" style="padding-bottom: 0">
<div class="container">
<div class="row">
<h2>{{ condominio[0].inmueble.nombre_inmueble }}</h2>
<table  class="table table-bordered table-striped table-hover">
<thead>
<tr>
<th style="text-align: center">Período Facturación</th>
<th style="text-align: center">Documento Nombre</th>
<th style="text-align: center">Autorizado Por</th>
<th style="text-align: center">Fecha Autorización</th>
<th style="text-align: center">Funciones Especiales</th>
<th class="hidden">id</th>
</tr>
</thead>
<tbody>
{% if prerecibos is empty %}
<tr><td colspan="5"><div class="alert alert-error">
<strong>Atención!</strong> No se puede cargar esta información.</div></td></tr>
{% else %}
{% for detalle in prerecibos.data %}
<tr>
<td>{{ detalle.periodo | date("m-Y") }}</td>
<td>{{ detalle.documento }}</td>
<td>{{ detalle.aprobado_por }}</td>
<td>{{ detalle.fecha_aprobado | date("d/m/Y") }}</td>
<td>
{% if detalle.aprobado==0 %}
<a id="{{detalle.id}}" class="autorizar" data-target="#myModal" data-toggle="modal" href="#"><i class="fa fa-check" title="autorizar prerecibo"></i></a>
{#% else %#}
<!--a class="disabled" href="#" title="Pre-recibo ya autorizado"><i class="fa fa-check"></i></a-->
{% endif %}
{% if detalle.soporte!="" %}
    <a class="" href="{{constant('URL_SISTEMA')}}/prerecibo/{{ detalle.soporte }}" title="ver soportes" target="_blank"><i class="fa fa-folder-open"></i></a>
{% else %}
<a class="disabled btn-xs" href="javascript:void(0)" data-placement="top" data-toggle="tooltip" title="Soportes no disponibles" ><i class="fa fa-folder-open"></i></a>    
{% endif %}
{% if detalle.publicado %}
<a class="" href="{{constant('URL_SISTEMA')}}/prerecibo/{{ detalle.documento }}" title="ver precibo" target="_blank"><i class="fa fa-eye"></i></a>
{% else %}
<a class="disabled" href="{{constant('URL_SISTEMA')}}/prerecibo/{{ detalle.documento }}" title="ver Prerecibo"><i class="fa fa-eye-slash"></i></a>
{% endif %}
</td>
<td class="hidden">{{ detalle.id }}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>
</div>
</section>
<div id="myModal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 class="modal-title"><i class="fa fa-asterisk"></i> Confirmar autorización</h3>
</div>
<div class="modal-body"></div>
<div class="modal-footer">
<a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</a>
<button data-value="" class="btn btn-success" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Espere...."><i class="fa fa-check"></i> Autorizar</button>
</div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {

$('[data-toggle="tooltip"]').tooltip();

$(".autorizar").on('click',function() {
$("div.modal-body").html('<p>Esta a punto de autorizar la factuación de período: <strong id="periodo">Info</strong></p><p>Presione el botón Autorizar para confirmar la operación.</p>');
$("#periodo").html($(this).closest("tr").find("td:first").text());
$("button.btn-success").attr("data-value",$(this).closest("tr").find("td:last").text());
//console.log($(this).closest("tr").find("td:last").text());
//$("#myModal").modal('toggle');
});
$('button.btn-success').on('click', function() {
var id = $(this).attr("data-value");
$(this).button('loading');
$.get("{{constant('URL_SISTEMA')}}/prerecibo/?accion=autorizar&id=" + id, function(data) {
var obj = jQuery.parseJSON(data);
$("div.modal-body").html(obj.mensaje);
$(this).button('reset');
$("div.modal-footer").html('<a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Aceptar</a>');
if(obj.suceed) {
$("a#" + id + ".autorizar").addClass('disabled').removeAttr("data-target").removeAttr("data-toggle");
}   
});
return false;
});
});
</script>
{% endblock %}